

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #673ab7;
  font-family: 'Nunito',sans-serif;
  padding: 0 20px;
}

  .card-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100%; /* Opcional: Ajusta la altura según tus necesidades */
  }
  .card-container img {
    width: 100px;
   /* float: left; */
   margin: 0 1rem 0 0;
 }

